<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div id="switcher-01"><!-- / --></div>
  <script>
  window.switcher = new AcidJs.ToggleSwitch({
        // (String) [optional] path to the AcidJs.ToggleSwitch/ folder; default: ""
        appRoot: "pages/javascript-iphone-toggle-buttons/example/"
    });

  window.switcher.render({
    type: "checkbox",
    name: "switcher-01",
                defaultCheckedNode: [1, 2],
                boundingBox: $("#switcher-01"),
                items: [{
                    value: "en-US",
                    label: "English"
                }]
            });

    $("#switcher-01").on("acidjs-toggle-switch", function(e, data) {
        window.console.log(e.type, data);
    });

  </script>  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
