.form-group
  = f.label :name
  %br/
  = f.text_field :name, :class => 'form-control'
.form-group
  = f.label :street
  %br/
  = f.text_field :street, :class => 'form-control'
.form-group
  = f.label :city
  %br/
  = f.text_field :city, :class => 'form-control', :placeholder => 'Pittsburgh'
.form-group
  = f.label :state
  %br/
  = f.text_field :state, :class => 'form-control', :placeholder => 'PA'
.form-group
  = f.label :zip_code
  %br/
  = f.number_field :zip_code, :class => 'form-control', :placeholder => '15213'
.field
  = f.label :cuisine
  %br/
  = f.text_field :cuisine, :class => 'form-control'
.field
  = f.label :area
  %br/
  = f.select :area, Restaurant.areas, :class => 'form-control'
.field
  = f.label :price
  %br/ 
  = f.select :price, [['$',1],['$$',2],['$$$',3],['$$$$',4]], :class => 'form-control'
.field{:style =>'float:left'}
  = f.label :accepts_dinex
  %br/
  = f.check_box :accepts_dinex
.field{:style =>'float:left'}
  = f.label :accepts_cash
  %br/
  = f.check_box :accepts_cash
.field{:style =>'float:left'}
  = f.label :accepts_credit
  %br/
  = f.check_box :accepts_credit
.field{:style =>'float:none'}
  = f.label :accepts_plaid_cash
  %br/
  = f.check_box :accepts_plaid_cash