<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Zip code:</strong>
        <%= @restaurant.zip_code %>
      </p>

      <p>
        <strong>Cuisine:</strong>
        <%= @restaurant.cuisine %>
      </p>

      <p>
        <strong>Area:</strong>
        <%= @restaurant.area %>
      </p>

      <p>
        <strong>Longitude:</strong>
        <%= @restaurant.longitude %>
      </p>

      <p>
        <strong>Latitude:</strong>
        <%= @restaurant.latitude %>
      </p>
    <div class="well">
      <%= render 'reviews' %>
    </div>
    <button class="btn btn-default"><%= link_to "Add Review", new_restaurant_review_path(:restaurant_id => @restaurant)%></button>

    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Back', restaurants_path %>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.create_map_link %>
    </div>
  </div>
</div>
