.container{:id => "text"}
  / .col-xs-12
  .row
    %p#notice= notice
    %div{:id => "picture"}
  .row{:id => "restaurantintro"}
    %h5{:id => "name"}
      = @restaurant.name 
    %span.badge.small-badge{:id => "description"}
      = @restaurant.cuisine 
    %span.badge.small-badge{:id => "description"}
      = '$' * @restaurant.price
    %div#line-separator   
  .row{:id => "restaurantaddress"}
    .col-xs-12
      %h5{:id => "restaurantaddress"}
        %span.glyphicon.glyphicon-pushpin
        = @restaurant.address
      %br
      %h5{:id => "restaurantaddress"}
        -unless @restaurant.business_hours.nil?
          -if @restaurant.is_open?
            = image_tag "green.png"
            = "OPEN"
          -else
            = image_tag "red.png"
            = "CLOSED"
      %br
  .row
    %div#line-separator
    %h5{:id => "map"}
      = image_tag @restaurant.create_map_link
  .row
    %button.btn.btn-default= link_to "+ Add Review", new_restaurant_review_path(:restaurant_id => @restaurant)
    = render 'reviews' unless @restaurant.restaurant_reviews.empty?    