..container{:id => "text"}
  / .col-xs-12
  .row
    %p#notice= notice
    %p
      = link_to(image_tag('naan.jpg'))
  .row{:id => "restaurantintro"}
    %p{:id => "name"}
      = @restaurant.name 
    %p{:id => "description"}
      = @restaurant.cuisine
    %br       
  .row
    .col-xs-6
      %p{:id => "restaurantaddress"}
        %strong Address:
        = @restaurant.address
      &nbsp;
      %p
        %strong Price:
        = '$' * @restaurant.price
      %br
      %br
    .col-xs-6
      %p{:id => "map"}
        = image_tag @restaurant.create_map_link
  .row
    %button.btn.btn-default= link_to "Add Review", new_restaurant_review_path(:restaurant_id => @restaurant)
    = render 'reviews' unless @restaurant.restaurant_reviews.empty?
    