<div class="col-centered">
<%= simple_form_for(@restaurant_review, html: {class: 'form-horizontal'  }) do |f| %>
  <% if @restaurant_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_review.errors.count, "error") %> prohibited this restaurant_review from being saved:</h2>

      <ul>
      <% @restaurant_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= field_set_tag do %>
  <div class="col-lg-10">
  <div class="field" style="display:none;">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :review, :id => "formfont" %><br> 
    <%= f.text_field :review, as: :text, :id => "formfont" %>
  </div>
 <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, :class => "rating" %>
  </div>
    <%= link_to 'Back', restaurant_path(@restaurant_review.restaurant.id), :class => "btn btn-default btn-sm" %>
    <%= f.submit "Create Review", :class => "btn btn-default btn-sm" %>
   
  </div>
  <%end%>


<% end %>
  </div>
